* {
    margin: 0px;
}

html { 
    height:100%; 
}

body {
    font-family: 'Segoe UI', sans-serif;
    height:100%; 
    margin:0px; 
}

input {
    font-family: 'Segoe UI', sans-serif;
    font-size:larger;
}

p {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.buttonPrimary {
    background-color: #2086BF;
    color: white;
    border-width: 0px;
    cursor:pointer;
}

.buttonSecondary {
    background-color: #D9D9D9;
    color: black;
    border-width: 0px;
    cursor:pointer;
}

.textBox {
    border: 1px solid #D9D9D9;
}
.textBox:focus {
    border: 1px solid black;
}
.textBox:hover {
    border: 1px solid black;
}

#header {
    background-color: #353F4B;
}

#header p {
    color: #A8B9C3;    
}

#leftSide {
    background-color: #4BADD0;
}

#leftSide p {
    color: white;   
}

#leftSide .category:hover {
    background-color: rgb( 40, 44, 47 );
    cursor:pointer;
}

#leftSide .categoryAddArticle:hover {
    background-color: #353F4B;
    cursor:pointer;
}

#leftSide .article {
    background-color: #46A1BF;
}

#leftSide .article:hover {
    background-color: rgb( 40, 44, 47 );
    cursor:pointer;
}

#leftSideLogo {
    background-color: #222C38;
}


#logo {
    background-color: #222C38;
}

#logo p {
    color: #A8B9C3;    
}

.headerButton:hover {
    background-color: #222C38;
    cursor:pointer;
}


#mainArea {
    background-color: #E7ECEA;    
}

#mainArea  p {
    color: #7B7E81;
}

#mainAreaHeader {
    background-color: #DEE3E1;
}

#mainArea .article {
    background-color: #DEE3E1;
    border-style: solid;
    border-color: #D4D9D7;
    border-width:1px;
}

#mainArea .article:hover {
    background-color: #E7ECEA;
    cursor:pointer;
}


#mainArea .articleSelected {
    background-color: #E7ECEA;
    border-bottom: 2px solid #4BADD0;
}

#mainArea .articleSelected p {
    color:black;
}

#mainArea .articleSelected:hover {
    cursor:pointer;
}

.dialog {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(40, 44, 47,0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(40, 44, 47,0.5);
    box-shadow: 0px 0px 10px 0px rgba(40, 44, 47,0.5);
    border: 1px solid #D4D9D7;
    background-color: white;
}

.dialogContent {
    background-color: #E7ECEA;
}

.dialogHeaderCloseButton:hover {
    background-color: #DEE3E1;
    cursor:pointer;
}