* {
    margin: 0px;
}

html { 
    height:100%; 
}

body {
    font-family: 'Segoe UI', sans-serif;
    height:100%; 
    margin:0px; 
}

.popup {
    -webkit-box-shadow: 0px 0px 90px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 90px -15px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 90px -15px rgba(0,0,0,0.75);
    border: 1px solid #D4D9D7;
    background-color: #222D32;
}

.popup p {
    color: #B8C7CE;
}